{% extends 'base.html' %}
     
    {% block title %}{{post.title}}{% endblock %}
     
    {% block content %}
    <article>
        <header>
            <h1> {{post.title}} </h1>
            <p>
                Posted on
                <time datetime="{{post.created|date:"c"}}">
                {{post.created|date}}
                </time>
            </p>
	    <p> Posted by {{post.created_by}} </p>
        </header>
        <h4 class="description">
            {{post.description}}
        </h4>
        {{post.content|safe}}
    </article>
    {% endblock %}
