<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/djangoweb.css" media="screen" />
<div id="container">
        <div id="header">
                <h1>
                        Michelle Hiland
                </h1>
        </div>
        <div id="navigation">
                <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="publications/">Publications</a></li>
                        <li><a href="resources/">Resources</a></li>
                </ul>
        </div>
        <div id="content">
                <h2>
                        I am a young professional with a background in Operation & Information Technology Management from the University of Colorado at Boulder. My busniss degree gives me a unique insight into the challenges and solutions faced by businesses and an understanding of how processes work. I am determined, hard-working, enthusiastic and a true go-getter.
                </h2>

                <p>
                  <table>
                  <tr>
                  <td>
                  <img src="{{ STATIC_URL }}me.jpg"
                       align="left", height=200 >
                  </td>
                  <td>
                    PUT DESCRIPTION HERE
                </td>
                </tr>
                </table>
        </div>
        
</div>
